<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <title>Login</title>
</head>
<body>
    <h1 style="color: black;">Welcome to SkyView</h1>
    <h2>Please Login</h2>
    <form method="post" action="/login">
        <div style="color: orange;">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div style="color: orange;">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button id="button" type="submit">Login</button>
    </form>
    <p style="color: white; margin-left: 43%;">Don't have an account? <a style="color: white;" href="/signup">Sign up here</a>.</p>
</body>

