<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <title>{{ title }}</title>
</head>
<body style="background-color: black; color: orange;">
    <header>
        <h1 style="text-align: center;color: black;">{{ title }}</h1>
    </header>
    <main style="text-align: center;">
        <img src="{{ url_for('files', user_id=user_id, filename=filename) }}" alt="Image" style="max-width: 500px; height: auto;">
        <p id="p">{{ description }}</p>
    </main>
    <footer style="text-align: center; margin-top: 20px;">
        <a href="{{ url_for('index') }}" style="text-decoration: none;">
            <button>
                Back to Gallery
            </button>
        </a>
    </footer>
</body>
</html>
